.start{
    background: url("img/bg-masthead.jpg") no-repeat center / cover;
    height: 120vh;
}
.margin{
    margin-right: 3rem;
}
.Div1{
    padding-top: 7rem;
    text-align: center;
}

.trait{
    position: relative;
}
.trait{
    content:"";
    height: 0.05rem;
    width: 3rem;
    background: #d43007;
    margin-left: 34rem;
    top:0.5rem;
}
.Div2{
    padding-top: 7rem;
    text-align: center;
    background-color: #f4623a;
    height: 68vh;
}
.trait1{
    position: relative;
}
.trait1{
    content:"";
    height: 0.05rem;
    width: 3rem;
    background: #ffffff;
    margin-left: 41rem;
    top:0.5rem;
}
.Div3{
    padding-top: 7rem;
    text-align: center;
}
.trait2{
    position: relative;
}
.trait2{
    content:"";
    height: 0.05rem;
    width: 3rem;
    background: #d43007;
    margin-left: 40rem;
    top:0.5rem;
}
.Div4{
    padding-top: 7rem;
    
}
.Div5{
    padding-top: 7rem;
    
}
.Div6{
    text-align: center;
    background-color: #212529;
    height: 40vh;
    padding-top: 7rem;
}